{% extends "base.html.twig" %}

{% block title %}Portfolio - Projets web PHP/Symfony/Wordpress{% endblock %}

{% block style %}
	<style>
		body {
			background-color: #f8f9fa;
		}

		img {
  			max-width: 100%;
  			max-height: 100%;
		}
	</style>
{% endblock %}

{% block body %}
	<section class="bg-light" id="portfolio">
		<div class="container px-4 px-lg-5">

			<!-- Featured Project Row-->
			<div class="row gx-0 mb-4 mb-lg-5 align-items-center">
				<div class="col-xl-8 col-lg-7">
					<img class="img-fluid mb-3 mb-lg-0" src="{{ asset('/img/bureau.png') }}" alt="desk"/>
				</div>
				<div class="col-xl-4 col-lg-5">
					<div class="featured-text text-center text-lg-left">
						<h3 class="text-uppercase">Portfolio</h3>
						<p class="text-black-50 mb-0">
							Mes compétences à travers quelques projets
						</p>
					</div>
				</div>
			</div>

			{% for project in projects %}
				{% if loop.index is divisible by(2) %}
					<!-- Even projects Row-->
					<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
						<div class="col-lg-6">
							<img class="img-fluid" src="/img/{{ project.image }}" alt="{{ project.name }}" />
						</div>

						<div class="col-lg-6 order-lg-first">
							<div class="bg-black text-center p-3 h-100 project">
								<div class="d-flex h-100">
									<div class="project-text w-100 my-auto text-lg-right">
										<h4 class="text-center text-white mb-3">{{ project.name }}</h4>
										<p class="text-center mb-0 text-white-50 mb-3">
											{{ project.description | capitalize }}
										</p>

										<h5 class="h5-feature mb-0 mb-3">
											<i class="fa-solid fa-screwdriver-wrench"></i> Fonctionnalités :
										</h5>
										{% for feature in project.features %}
											<ul class="ul-feature mb-0 text-white-50 mb-3">
  												<li>{{ feature.text | capitalize }}</li>
											</ul>
										{% endfor %}

										<div class="d-flex flex-wrap justify-content-around mb-3">
											{% for skill in project.skills %}
												<h5>
													<span class="badge">
														{{ skill.name }}
													</span>
												</h5>
											{% endfor %}
										</div>

										{% if project.urlSite is not empty %}
											<a class="fa mx-2 mt-3" href="{{ project.urlSite }}" target="_blank">
												<i class="fa-solid fa-globe fa-2x"></i>
											</a>
										{% endif %}
										{% if project.urlGithub is not empty %}
											<a class="fa mx-2 mt-3" href="{{ project.urlGithub }}" target="_blank">
												<i class="fa-brands fa-github fa-2x"></i>
											</a>
										{% endif %}

										<hr class="d-none d-lg-block mb-0 ms-0"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% else %}

					<!-- Odd projects Row-->
					<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
						<div class="col-lg-6">
							<img class="img-fluid" src="/img/{{ project.image }}" alt="{{ project.name }}" />
						</div>
						
						<div class="col-lg-6">
							<div class="bg-black text-center p-3 h-100 project">
								<div class="d-flex h-100">
									<div class="project-text w-100 my-auto text-center text-lg-left">
										<h4 class="text-white mb-3">{{ project.name }}</h4>
										<p class="mb-0 text-white-50 mb-3">
											{{ project.description | capitalize }}
										</p>

										<h5 class="h5-feature mb-0 text-white-50 mb-3">
											<i class="fa-solid fa-screwdriver-wrench"></i> Fonctionnalités :
										</h5>
										{% for feature in project.features %}
											<ul class="ul-feature mb-0 text-white-50 mb-3">
  												<li>{{ feature.text | capitalize }}</li>
											</ul>
										{% endfor %}

										<div class="d-flex flex-wrap justify-content-around mb-3">
											{% for skill in project.skills %}
												<h5>
													<span class="badge">
														{{ skill.name }}
													</span>
												</h5>
											{% endfor %}
										</div>

										{% if project.urlSite is not empty %}
											<a class="fa mx-2 mt-3" href="{{ project.urlSite }}" target="_blank">
												<i class="fa-solid fa-globe fa-2x"></i>
											</a>
										{% endif %}
										{% if project.urlGithub is not empty %}
											<a class="fa mx-2 mt-3" href="{{ project.urlGithub }}" target="_blank">
												<i class="fa-brands fa-github fa-2x"></i>
											</a>
										{% endif %}

										<hr class="d-none d-lg-block mb-0 ms-0"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
